<!--
movies$ | async: This is an asynchronous pipe combined with an observable (movies$). It subscribes to the observable and returns its latest value.
                   The async pipe automatically unsubscribes when the component is destroyed, preventing potential memory leaks

as movies: This is a way to alias the result of movies$ | async to a variable named movies.
            Example: If movies$ is an observable stream of movie data from an API, this line would display the content inside the div only when the movie data is available

let movieIndex = index: assigns the current index of the item in the array to movieIndex

ngIf="movieIndex === slideIndex": compares movieIndex with slideIndex. Display only the div that matches to the current slideIndex(only the slide (movie) that matches the current index (slideIndex).)

@slideFade: used only on HTML elements not Angular containers such as 'ng-container'. It applies an animation trigger to the element(div)
            When a movie slide comes into view or goes out of view, it fades in or out

 -->
<div class="slider" *ngIf="movies$ | async as movies">
  <ng-container *ngFor="let movie of movies; let movieIndex = index">
    <!-- no movies will be shown if the 'slideIndex' is larger than the 'movieIndex' -->
    <div class="slide" *ngIf="movieIndex === slideIndex" @slideFade>
      <div class="slide-bg">
        <img
          [src]="imageBaseUrl + backdropSize + movie.backdrop_path"
          [alt]="movie.original_title"
        />
      </div>
      <div class="slide-pane">
        <h2 class="title">{{ movie.original_title }}</h2>
        <div class="meta mb-4">
          <div class="rating mb-1">
            <i class="pi pi-star-fill"></i>
            <span>{{ movie.vote_average }}</span>
            <span>/10</span>
          </div>
          <div class="votes mb-1">
            <i class="pi pi-users"></i>
            <span>{{ movie.vote_count }}</span>
          </div>
          <div class="release-date">
            <i class="pi pi-calendar"></i>
            <span>{{ movie.release_date | date: 'yyyy' }}</span>
          </div>
        </div>
        <div class="description">{{ movie.overview }}</div>
      </div>
    </div>
  </ng-container>
</div>
