header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: #171111;
  border-bottom: #37302a;
  .logo {
    a {
      display: block;
      margin-left: 3px;
      img {
        width: 80px;
        height: 65px;
        border-radius: 70%;
        opacity: 0.5;
      }
    }
  }
  .navigation {
    ul {
      display: block;
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: inline;
        margin-right: 15px;
        a {
          color: whitesmoke;
          text-decoration: none;
        }
      }
    }
  }
}
